*.pyc
build/
.clang_complete
data/
tempdir/
data*/
*.mp4
*.MP4
epipolar/
grid.txt
btp/
*.ply
*.nvm
bharti/
car_vids2/
cont/
ego_2/
ego_old/
endo/
hyper/
indoor/
kitti/
math/
pranjal/
sim/
stairs/
tum/
wide/
*.avi
*.bmp
*~
